<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas tarefas</title>
    <link rel="stylesheet" href="/css/categorias.css">
    <link rel="stylesheet" href="/css/barranavegacao.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
</head>
<body>
    <nav>
        <div class="container-titulo">
            <h1>Minhas tarefas</h1>
        </div>
        <div class="links">
            <div class="outras-funcionalidades">
                <a href="/agenda-contatos">Meus contatos</a> -
                <a href="/agenda-blocodenotas">Bloco de notas</a>
            </div>
            <div class="voltar">
                <a href="/">Voltar</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="minhas-categorias">
            <div class="bloco-add-categoria">
                <form action="/adicionar-categoria" method="post" class="form-criar-categoria">
                    <div class="titulo">
                        <input type="text" name="nome" value="{{form.nome}}" class="form-control" placeholder="Titulo desta categoria">
                    </div>
                    <div class="descricao">
                        <textarea name="descricao" class="form-control" placeholder="Escreva uma descrição sobre esta categoria" cols="30" rows="10">{{form.descricao}}</textarea>
                    </div>
                    <div class="criar">
                        <button class="btn btn-success m-1">Criar</button>
                    </div>
                </form>
                <div class="desc-funcionalidade">
                    <p class="lead">O sistema permite com que você crie categorias para dividir os tipos de afazeres, assim você poderá separar as tarefas de casa dás do trabalho, evitando a confusão na hora de realizá-las.</p>
                </div>
                {{#if erro}}
                    <div class="message-error">
                        <span class="lead">{{msg}}</span>
                    </div>
                {{/if}}
            </div>
            <div class="bloco-categorias">
                <div id="lista-categorias" class="listagem-categorias">
                    {{#each Docs}}
                        <form action="/editar-categoria/{{Id}}?method=PUT" method="post" class="categoria">
                            <div class="titulo-categoria">
                                <input type="text" value="{{Nome}}" name="nome" class="form-control" placeholder="Titulo desta categoria">
                            </div>
                            <div class="desc-categoria">
                                <textarea class="form-control" name="descricao" cols="30" rows="10" placeholder="Escreva uma descrição sobre esta categoria">{{Descricao}}</textarea>
                            </div>
                            <div class="eventos-categoria">
                                <div style="width: auto;">
                                    <button formaction="/apagar-categoria/{{Id}}?method=DELETE" class="btn btn-danger m-1">Apagar</button>
                                    <button class="btn btn-primary m-1">Salvar</button>
                                </div>
                                <button formaction="/minhas-tarefas/{{Id}}" formmethod="get" class="btn btn-dark m-1 ">Tarefas</button>
                            </div>
                        </form>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>