<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus contatos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <table>
        <thead>
            <th>contato</th>
            <th>telefone</th>
            <th>celular</th>
            <th>email</th>
        </thead>
        <tbody>
            {{#each dados}}
                <tr>
                    <td>{{contato}}</td>
                    <td>{{telefone}}</td>
                    <td>{{celular}}</td>
                    <td>{{email}}</td>
                    <td>
                        <form action="/apagar-ctt/{{_id}}?method=DELETE" method="post">
                            <button>apagar</button>
                        </form>
                    </td>
                    <td>
                        <form action="/atualizar-informacoes/{{_id}}" method="get">
                            <button>editar</button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>