<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informaçõoes do contato</title>
    <link rel="stylesheet" href="/css/infocontato.css">
    <link rel="stylesheet" href="/css/barranavegacao.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
</head>
<body>
    <nav>
        <div class="container-titulo">
            <h1>Contato: {{Docs.contato}}</h1>
        </div>
        <div class="links">
            <div class="outras-funcionalidades">
                <a href="#">Bloco de notas</a> -
                <a href="#">Lista de tarefas</a>
            </div>
            <div class="voltar">
                <a href="/">Home</a>
                <a href="/agenda-contatos">Voltar</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="info-contato">
            <form action="/editar-informacoes/{{id}}?method=PUT" method="post" class="formulario">
                <div class="desc">
                    <p class="lead">Edite as informações por aqui: </p>
                </div>
                <div class="contato-email">
                    <input type="text" name="contato" class="form-control" value="{{Docs.contato}}" placeholder="Nome">
                    <input type="text" name="email" class="form-control" value="{{Docs.email}}" placeholder="Email">
                </div>
                <div class="telefone-celular">
                    <input type="text" name="telefone" class="form-control" value="{{Docs.telefone}}" placeholder="N° telefone">
                    <input type="text" name="celular" class="form-control" value="{{Docs.celular}}" placeholder="N° celular">
                </div>
                <div class="cidade-estado">
                    <input type="text" name="cidade" class="form-control" value="{{Docs.cidade}}" placeholder="Cidade">
                    <input type="text" name="estado" class="form-control" value="{{Docs.estado}}" placeholder="Estado">
                </div>
                <div class="notas">
                    <textarea cols="30" rows="10" name="notas" class="form-control" placeholder="Escreva uma breve descrição sobre o contato.">{{Docs.notas}}</textarea>
                </div>
                <div class="eventos">
                    <input type="submit" value="Salvar" class="btn btn-success">
                    <input type="submit" value="Excluir" class="btn btn-danger" formaction="/apagar-contato/{{id}}?method=DELETE">
                </div>
            </form>
        </div>
    </div>
</body>
</html> 